*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

main{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    max-width: 500px;
    margin: auto
} 

figure,
figure img{
    display: inline-block;
    width: 100px;
}